---
title: Home
layout: default
---
{% assign pets = site.data.pets %}
<div class="text-center my-5">

<h1 class="text-center my-5">Rent a Pet Here! Pay in Love!</h1>
       <h3>Pets available: {{ pets.size }}</h3>
                 <h3>Dogs available: {{ pets | where: 'type', 'dog' | size }}</h3>
                    <h3>Cats available: {{ pets | where: 'type', 'cat' | size }}</h3>
                        <h3>Parrots available: {{ pets | where: 'type', 'parrot' | size }}</h3>
    

</div>

<div class="container my-4">
    <div class="row">
        {% for p in pets %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <img class="card-img-top" src="{{ p.image | prepend: 'images/' | relative_url }}" alt="Image of {{ p.type }}, a {{ p.name }}">
                <div class="card-body text-center">
                    <h4 class="card-title text-dark">{{ p.name }}, a {{p.type}}</h4>
             
                    <p class="card-text">
                        <strong>Age:</strong> {{ p.age }} <br>
                        <strong>Owner:</strong> {{ p.owner }} <br>
                        <strong>Contact:</strong> {{ p.contact }} <br>
                        <strong>Location:</strong> {{ p.location }}
                    </p>
                     <a href="#" class="btn btn-primary">{% if p.contact contains '@' %}Email{% else %}Call{% endif %} {{p.owner}} to Rent!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
